body {
    font-family: "Roboto", sans-serif;
    align-items: center;
}

header .contenedor {
    background-color: lightpink;
    display: flex;
    padding: 20px;
    align-items: center;
}

header .contenedor a {
    margin: 5px;
}

main {
    background-color: lightblue;
    width: 100%;
    display: block;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px 0px;
    box-shadow: 5px rgba(0, 0, 0, 0.3);
}

.cardsd button {
    align-items: center;
}

footer {
    background-color: lightgreen;
    text-align: center;
    padding: 10px;
}

/*Tablet*/
@media screen and (min-width: 768px) {
    /*Sección de cards en 2 columnas*/
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .carta {
        width: 50%;
        height: 50%;
    }
}

/*Escritorio*/

@media screen and (min-width: 1024px) {
    /*Sección de cards en 3 columnas*/
    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .carta {
        width: 33.33%;
        height: 33.33%;
    }
}